body
{
	margin:0;
	padding:0;
	font-size:12px;
}
#loginbox
{
	width: 430px;
	margin:0 auto;
	margin-top:300px;
	border:1px solid #eee;
}
#header
{
	height:80px;
	border-bottom:1px solid gray;
	vertical-align:middle;
}
#headercontent
{
	padding-top:10px;
	color:#aaaaaa;
	font-size:35px;
}
#mainleft
{
	width:14%;
	float:left;
	height:100%;
	margin:0;
	padding:0;
	border-right:1px solid gray;
}
#mainright
{
	width:85%;
	float:right;
	height:100%;
}
#mainrightcontent{
	border-left:1px solid gray;
}
#bar{
	width:1%;
	float:left;
	text-align:center;
	padding-top:300px;
}
#mainFrame
{
	width:100%;
	border:0;
	scroll:auto;
}
#bottom
{
	height:30px;
	border-top:1px solid gray;
	margin:0;
	padding:0;
	text-align:center;
}
#bottomcontent
{
	line-height:30px;
}
.maincontent
{
	padding:10px;
}

lable
{
	width:100px;
	display:inline-block;
}
.left
{
	float:left;
}
.right
{
	float:right;
}
.h2
{
	font-size:24px;
	margin-top:5px;
}
.add
{
	line-height:30px;
	cursor:pointer;
}
.lefttd
{
	width:20%;
	border-top:none;
	text-align:right;
}
.righttd
{
	width:30%;
	border-top:none;
}
.clear
{
	clear:both;
}
.center
{
	text-align:center;
}
hr
{
	border-top:1px solid gray;
	padding:0;
	margin:0;
}
.scriptcontainer
{
	
}
.pageheader
{
	border:1px solid gray;
	background-color:#286090;
	text-align:center;
	line-height:30px;
	color:white;
}

.pagecontent
{
	border:1px solid gray;
}
.datacontainer
{
	width:50%;
	height:30px;
	padding:2px;
}
.loading{
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1000;
	text-align:center;
	top:0;
	padding:300px;
}
.loadingimage{
	height: 80px;
}
.mainheader{
	border-bottom:1px solid gray;
}
.searchBox{
	padding:5px;
	background:#f8f8f8;
}
.form-control{
	display:inline-block;
	width:300px;
}
#pageTitle{
	color:red;
}
.table{
	font-size:12px;
}
label{
	width:100px;
}
.search-control{
	width:150px;
	
}
.search-line{
	width:25%;
	float:left;
	text-align:center;
	padding-bottom:2px;
}